:root {
  --meri--bold: "Merriweather-Bold", sans-serif;
  --meri--reg: "Merriweather-Regular", sans-serif;
  --sans-med: "OpenSans-Medium", sans-serif;
  --sans-reg: "OpenSans-Regular", sans-serif;
  --col-blue: #294a70;
  --col--grey: #666666;
}
